## Calculate Mean,Median,Mode and Standard deviation using pandas

In [3]:
import pandas as pd

In [9]:
# Loading the apple stock data dataset
dataset=pd.read_csv('C:/Users/varshini y r/OneDrive/Desktop/dva1/AAPL.csv',index_col=0)

In [10]:
dataset.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100323  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095089  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088110  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090291   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092908   73449600

In [11]:
dataset.shape

(10409, 6)

In [12]:
# Mean of the dataset
dataset.mean()

Open         1.395991e+01
High         1.411194e+01
Low          1.380916e+01
Close        1.396676e+01
Adj Close    1.335034e+01
Volume       3.321778e+08
dtype: float64

In [13]:
# Median of the dataset 
dataset.median()

Open         4.687500e-01
High         4.776790e-01
Low          4.598210e-01
Close        4.687500e-01
Adj Close    3.868530e-01
Volume       2.199680e+08
dtype: float64

In [14]:
# Mode of the dataset
dataset.mode()

       Open      High       Low     Close  Adj Close     Volume
0  0.354911  0.372768  0.357143  0.399554   0.086365  246400000

In [15]:
# Standard deviation of the dataset
dataset.std()

Open         3.016924e+01
High         3.051488e+01
Low          2.983506e+01
Close        3.019170e+01
Adj Close    2.991113e+01
Volume       3.393344e+08
dtype: float64