## Basic and Advanced Operations using NumPy

In [1]:
import numpy as np

In [2]:
dataset=np.loadtxt('C:/Users/varshini y r/OneDrive/Desktop/dva1/tiktok_performance.csv',delimiter=',',skiprows=1,dtype='str',encoding=None)

In [3]:
print(dataset)

[['101' '1' 'user1' 'Dance Challenge' 'Dance' '1500' '120' '300' '50000'
  '2024-08-01' '30' '']
 ['102' '2' 'user2' 'Funny Skit' 'Comedy' '2300' '200' '400' '70000'
  '2024-08-02' '45' '']
 ['103' '3' 'user3' 'Tutorial' 'Tutorial' '1200' '150' '250' '40000'
  '2024-08-03' '60' '']
 ['104' '4' 'user4' 'Viral Dance' 'Dance' '4500' '500' '600' '90000'
  '2024-08-04' '30' '']
 ['105' '5' 'user5' 'Comedy Sketch' 'Comedy' '1800' '180' '210' '50000'
  '2024-08-05' '45' '']]

In [4]:
dataset.shape

(5, 12)

In [5]:
# Indexing
second_row=dataset[1]
print(second_row)

['102' '2' 'user2' 'Funny Skit' 'Comedy' '2300' '200' '400' '70000'
 '2024-08-02' '45' '']

In [6]:
# Slicing
print(dataset[1:3,1:3])

[['2' 'user2']
 ['3' 'user3']]

In [7]:
# Splitting
## hsplit to horizontally split the dataset
hor_splits=np.hsplit(dataset,(3))
print(hor_splits)

[array([['101', '1', 'user1', 'Dance Challenge'],
       ['102', '2', 'user2', 'Funny Skit'],
       ['103', '3', 'user3', 'Tutorial'],
       ['104', '4', 'user4', 'Viral Dance'],
       ['105', '5', 'user5', 'Comedy Sketch']], dtype='<U15'), array([['Dance', '1500', '120', '300'],
       ['Comedy', '2300', '200', '400'],
       ['Tutorial', '1200', '150', '250'],
       ['Dance', '4500', '500', '600'],
       ['Comedy', '1800', '180', '210']], dtype='<U15'), array([['50000', '2024-08-01', '30', ''],
       ['70000', '2024-08-02', '45', ''],
       ['40000', '2024-08-03', '60', ''],
       ['90000', '2024-08-04', '30', ''],
       ['50000', '2024-08-05', '45', '']], dtype='<U15')]

In [8]:
## vsplit to vertically split the dataset
ver_splits=np.vsplit(dataset,(1))
print(ver_splits)

[array([['101', '1', 'user1', 'Dance Challenge', 'Dance', '1500', '120',
        '300', '50000', '2024-08-01', '30', ''],
       ['102', '2', 'user2', 'Funny Skit', 'Comedy', '2300', '200',
        '400', '70000', '2024-08-02', '45', ''],
       ['103', '3', 'user3', 'Tutorial', 'Tutorial', '1200', '150',
        '250', '40000', '2024-08-03', '60', ''],
       ['104', '4', 'user4', 'Viral Dance', 'Dance', '4500', '500',
        '600', '90000', '2024-08-04', '30', ''],
       ['105', '5', 'user5', 'Comedy Sketch', 'Comedy', '1800', '180',
        '210', '50000', '2024-08-05', '45', '']], dtype='<U15')]

In [9]:
# Iterating
for x in np.nditer(dataset):
    print(x)

101
1
user1
Dance Challenge
Dance
1500
120
300
50000
2024-08-01
30

102
2
user2
Funny Skit
Comedy
2300
200
400
70000
2024-08-02
45

103
3
user3
Tutorial
Tutorial
1200
150
250
40000
2024-08-03
60

104
4
user4
Viral Dance
Dance
4500
500
600
90000
2024-08-04
30

105
5
user5
Comedy Sketch
Comedy
1800
180
210
50000
2024-08-05
45

In [10]:
# Filtering
val=dataset[dataset>'200']
print(val)

['user1' 'Dance Challenge' 'Dance' '300' '50000' '2024-08-01' '30' 'user2'
 'Funny Skit' 'Comedy' '2300' '400' '70000' '2024-08-02' '45' '3' 'user3'
 'Tutorial' 'Tutorial' '250' '40000' '2024-08-03' '60' '4' 'user4'
 'Viral Dance' 'Dance' '4500' '500' '600' '90000' '2024-08-04' '30' '5'
 'user5' 'Comedy Sketch' 'Comedy' '210' '50000' '2024-08-05' '45']

In [11]:
# Sorting
col=np.sort(dataset,axis=0)
print(col)

[['101' '1' 'user1' 'Comedy Sketch' 'Comedy' '1200' '120' '210' '40000'
  '2024-08-01' '30' '']
 ['102' '2' 'user2' 'Dance Challenge' 'Comedy' '1500' '150' '250' '50000'
  '2024-08-02' '30' '']
 ['103' '3' 'user3' 'Funny Skit' 'Dance' '1800' '180' '300' '50000'
  '2024-08-03' '45' '']
 ['104' '4' 'user4' 'Tutorial' 'Dance' '2300' '200' '400' '70000'
  '2024-08-04' '45' '']
 ['105' '5' 'user5' 'Viral Dance' 'Tutorial' '4500' '500' '600' '90000'
  '2024-08-05' '60' '']]

In [12]:
# Combining
a=np.hsplit(dataset,(2))
b=np.vsplit(dataset,(1))
print(a,b)

## vstack to vertically combine
c=np.vstack([b[0],b[0]])
print(c)

## hstack to combine horizontally
d=np.hstack([a[0],a[1]])
print(d)

[array([['101', '1', 'user1', 'Dance Challenge', 'Dance', '1500'],
       ['102', '2', 'user2', 'Funny Skit', 'Comedy', '2300'],
       ['103', '3', 'user3', 'Tutorial', 'Tutorial', '1200'],
       ['104', '4', 'user4', 'Viral Dance', 'Dance', '4500'],
       ['105', '5', 'user5', 'Comedy Sketch', 'Comedy', '1800']],
      dtype='<U15'), array([['120', '300', '50000', '2024-08-01', '30', ''],
       ['200', '400', '70000', '2024-08-02', '45', ''],
       ['150', '250', '40000', '2024-08-03', '60', ''],
       ['500', '600', '90000', '2024-08-04', '30', ''],
       ['180', '210', '50000', '2024-08-05', '45', '']], dtype='<U15')] [array([['101', '1', 'user1', 'Dance Challenge', 'Dance', '1500', '120',
        '300', '50000', '2024-08-01', '30', ''],
       ['102', '2', 'user2', 'Funny Skit', 'Comedy', '2300', '200',
        '400', '70000', '2024-08-02', '45', ''],
       ['103', '3', 'user3', 'Tutorial', 'Tutorial', '1200', '150',
        '250', '40000', '2024-08-03', '60', ''],
       ['104', '4', 'user4', 'Viral Dance', 'Dance', '4500', '500',
        '600', '90000', '2024-08-04', '30', ''],
       ['105', '5', 'user5', 'Comedy Sketch', 'Comedy', '1800', '180',
        '210', '50000', '2024-08-05', '45', '']], dtype='<U15')]
[['101' '1' 'user1' 'Dance Challenge' 'Dance' '1500' '120' '300' '50000'
  '2024-08-01' '30' '']
 ['102' '2' 'user2' 'Funny Skit' 'Comedy' '2300' '200' '400' '70000'
  '2024-08-02' '45' '']
 ['103' '3' 'user3' 'Tutorial' 'Tutorial' '1200' '150' '250' '40000'
  '2024-08-03' '60' '']
 ['104' '4' 'user4' 'Viral Dance' 'Dance' '4500' '500' '600' '90000'
  '2024-08-04' '30' '']
 ['105' '5' 'user5' 'Comedy Sketch' 'Comedy' '1800' '180' '210' '50000'
  '2024-08-05' '45' '']
 ['101' '1' 'user1' 'Dance Challenge' 'Dance' '1500' '120' '300' '50000'
  '2024-08-01' '30' '']
 ['102' '2' 'user2' 'Funny Skit' 'Comedy' '2300' '200' '400' '70000'
  '2024-08-02' '45' '']
 ['103' '3' 'user3' 'Tutorial' 'Tutorial' '1200' '150' '250' '40000'
  '2024-08-03' '60' '']
 ['104' '4' 'user4' 'Viral Dance' 'Dance' '4500' '500' '600' '90000'
  '2024-08-04' '30' '']
 ['105' '5' 'user5' 'Comedy Sketch' 'Comedy' '1800' '180' '210' '50000'
  '2024-08-05' '45' '']]
[['101' '1' 'user1' 'Dance Challenge' 'Dance' '1500' '120' '300' '50000'
  '2024-08-01' '30' '']
 ['102' '2' 'user2' 'Funny Skit' 'Comedy' '2300' '200' '400' '70000'
  '2024-08-02' '45' '']
 ['103' '3' 'user3' 'Tutorial' 'Tutorial' '1200' '150' '250' '40000'
  '2024-08-03' '60' '']
 ['104' '4' 'user4' 'Viral Dance' 'Dance' '4500' '500' '600' '90000'
  '2024-08-04' '30' '']
 ['105' '5' 'user5' 'Comedy Sketch' 'Comedy' '1800' '180' '210' '50000'
  '2024-08-05' '45' '']]

In [13]:
# Reshaping
a=np.reshape(dataset,(1,-1))
print(a)

[['101' '1' 'user1' 'Dance Challenge' 'Dance' '1500' '120' '300' '50000'
  '2024-08-01' '30' '' '102' '2' 'user2' 'Funny Skit' 'Comedy' '2300'
  '200' '400' '70000' '2024-08-02' '45' '' '103' '3' 'user3' 'Tutorial'
  'Tutorial' '1200' '150' '250' '40000' '2024-08-03' '60' '' '104' '4'
  'user4' 'Viral Dance' 'Dance' '4500' '500' '600' '90000' '2024-08-04'
  '30' '' '105' '5' 'user5' 'Comedy Sketch' 'Comedy' '1800' '180' '210'
  '50000' '2024-08-05' '45' '']]